{% extends "templates/layout.njk" %}


{% block content %}

        <div class="jumbtrom">
            <div class="text">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos como receitas criadas por profissionais do mundo inteiro</p>
            </div>
            <div class="jumb-img">
                <img src="assets/chef.png" alt="">
            </div>
        </div>

        <div class="content">
            <h1>Mais acessadas</h1>

            <div class="cards">
                <div class="card">
                    <div class="card-img">
                        <img src="assets/burger.png" alt="Burguer">
                    </div>
                    <div class="name-recipe">
                        <p>Triplo bacon burguer</p>
                    </div>
                    <div class="name">
                        <p>por Jorge Relato</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="assets/pizza.png" alt="Pizza 4 estações">
                    </div>
                    <div class="name-recipe">
                        <p>Pizza 4 estações</p>
                    </div>
                    <div class="name">
                        <p>por Fabiana Melo</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="assets/espaguete.png" alt="Espaguete ao Alho">
                    </div>
                    <div class="name-recipe">
                        <p>Espaguete ao alho</p>
                    </div>
                    <div class="name">
                        <p>por Júlia Kinoto</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="assets/lasanha.png" alt="Lasanha">
                    </div>
                    <div class="name-recipe">
                        <p>Lasanha mac n'cheese</p>
                    </div>
                    <div class="name">
                        <p>por Juliano Vieira</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="assets/doce.png" alt="Docinho pão do céu">
                    </div>
                    <div class="name-recipe">
                        <p>Docinho pão do céu</p>
                    </div>
                    <div class="name">
                        <p>por Ricardo Golves</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="assets/asinhas.png" alt="Asinhas de frango ao barbecue">
                    </div>
                    <div class="name-recipe">
                        <p>Asinhas de frango ao barbecue</p>
                    </div>
                    <div class="name">
                        <p>por Vania Steroski</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}
    
    
</body>
</html>