.content h1 {
    margin-top: 50px;
}

.content .cards {
    margin-bottom: 50px;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0 , 0, 0, 0.8);
    text-align: center;
    display: flex;
}

.modal .content {
    width: 660px ;
    max-height: 413px;
    border-radius: 15px;
    background-color: white;
    margin: auto;
}

.modal .content .modal-img img {
    border-radius: 15px;
    width: 600px;
    max-height: 200px;
    margin: 30px 30px 20px 30px;
}

.modal .content h1 {
    font-size: 24px ;
    color: #111111;
    margin:0;

}

.modal .content p {
    font-size: 18px;
    color: #777777;
    margin: 5px 0 60px 0;
}

.modal .modal-content {
    display: flex;
    flex-direction: column;
}

.modal .content .modal-content a {
    font-size: 16px;
    color: #999999;
    text-decoration: none;
    margin-bottom: 30px;
}